.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  padding: 0;
  margin: 0 0 30px 0;
  width: 100%;

  gap: 40px;

  background-color: var(--cl-grey-96);
  ul,
  li {
    list-style-type: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    opacity: 0;
    padding: 0;
    top: 0;
    transition: 0.5s;
  }

  li {
    padding: 5px 0;
  }

  li:hover {
    > a {
      color: var(--cl-secondary-500);
    }
    ul {
      opacity: 1;
      top: 100%;
      cursor: pointer;
      li {
        padding: 5px 0;
      }
    }
  }

  a {
    color: var(--cl-grey-26);
    // margin-right: 20px;
    text-decoration: none;
  }
}
